.pagination {
    border-top: solid 2px coral;
    border-bottom: solid 2px coral;
    display: table;
    margin: 20px auto;
    padding: 8px 16px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}