* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1200px;
    height: 600px;
    margin: auto;
}

.header {
    width: 100%;
    height: 120px;
    border: 1px solid #000;
}

.menu {
    width: 100%;
    height: 30px;
    border: 1px solid #000;
}

.menu ul {
    width: 100%;
    height: 30px;
    list-style: none;
}

.menu ul li {
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.danhmuc {
    text-align: center;
    color: white;
    font-size: 25px;
    background: #f16564;
    padding: 20px;
}

.content {
    width: 100%;
    height: auto;
}

.left {
    width: 280px;
    border: 1px solid rgb(231, 227, 227);
    float: left;
}

.danhsachsanpham ul {
    width: 100%;
    height: auto;
    list-style: none;
}

.danhsachsanpham ul li {
    margin-left: 10px;
    margin: 5px;
}

.danhsachsanpham a {
    text-decoration: none;
    color: #000;
    padding: 40px;
    font-size: 20px;
    line-height: 50px;
    font-style: unset;
}

.danhsachsanpham a:hover {
    color: rgb(245, 6, 6);
}

.all {
    text-align: center;
    color: white;
    font-size: 25px;
    background: #f16564;
    padding: 20px;
}

.right {
    width: 900px;
    height: auto;
    border: 1px solid rgb(231, 227, 227);
    float: right;
}

.san-pham-all {
    display: inline-block;
}

.san-pham-all * {
    box-sizing: content-box;
}

.san-pham-all ul {
    z-index: 100%;
    list-style: none;
    box-sizing: content-box;
}

.san-pham-all ul li {
    width: 150px;
    height: auto;
    text-align: center;
    float: left;
    box-sizing: content-box;
    margin-right: 10px;
    margin-left: 10px;
}

.san-pham-all p {
    border-top: 2px solid black;
    margin-top: 5px;
    vertical-align: text-bottom;
}

.san-pham-all ul li a {
    text-decoration: none;
    margin-top: 2px;
}

.img_product {
    width: 150px;
}

.product {
    height: 80px;
}

.productName{
    height: 65px;
}
.gray-border.all-padding{
    height: 250px;
}

/* 
.productName {
    width: 100%;
    height: 50%;
}

.productPrice {
    width: 100%;
    height: 50%;
} */

.chitietleft {
    margin: 20px 30px 0px 30px;
    float: left;
}

.chitietleft img {
    width: 200px;
    height: 200px;
}

.chitietright {
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
}

.chitietright * {
    margin: 5px;
}

.chitietsp {
    width: 100%;
    height: 500px;
    border: 1px solid rgb(231, 227, 227)
}

.muahang {
    margin-bottom: 10px;
}

.muahang * {
    margin: 10px;
}

.clear {
    clear: both;
}

.footer {
    width: 100%;
    height: 80px;
    border: 1px solid #000;
}