footer {
    margin-top: 40px;
    padding-bottom: 40px;
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

.text-center {
    text-align: center!important
}

table {
    width: 100%
}

.bread {
    background: #f7f7f7;
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0
}

.bread .breadcrumb-row {
    float: none;
    z-index: 99;
    text-align: center;
    display: table-cell;
    width: 100%;
    vertical-align: middle
}

.bread .breadcrumb-row h2 {
    display: block;
    float: none;
    font-size: 200%;
    font-weight: 800;
    color: inherit;
    margin: 0
}

.nasa-display-table {
    display: table
}

.hidden-tag {
    display: none
}

.inline-block {
    display: inline-block
}

body .button,
body button {
    padding: 12px 40px;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #f76b6a;
    border-color: #f76b6a;
    border-width: 1px;
    color: #fff;
    text-transform: uppercase
}

body .button:hover,
body button:hover {
    opacity: .8
}

#top-bar {
    position: relative;
    margin-top: 0;
    opacity: 1;
    padding: 3px 0 2px 0;
    height: 42px;
    background: #fff;
    background-color: #f16564;
    border-color: #f16564;
    color: #fff;
    border-bottom: 1px solid #efefef;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease
}

.header-icons {
    list-style: none;
    margin: 12px 0 5px 0;
    float: right
}

.header-icons>li {
    float: left;
    line-height: 100%;
    position: relative;
    font-size: 110%;
    margin-left: 15px
}

.logo-wrapper .logo .header_logo {
    max-height: 95px
}

#masthead {
    position: relative;
    background-color: transparent;
    padding: 30px 0 0px;
    -webkit-transition: top .6s ease;
    -moz-transition: top .6s ease;
    -o-transition: top .6s ease;
    transition: top .6s ease
}

.contact-information li {
    list-style: none;
    padding-top: 3px
}

#nasa-footer {
    background: #fafafa;
    border-top: 1px solid #ececec;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease
}

#nasa-footer p {
    line-height: 2
}

.nasa-opening-time {
    list-style: none;
    padding: 0;
    margin: 0
}

.nasa-opening-time li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding: 0 0 5px 0;
    margin-bottom: 5px
}

.nasa-opening-time li span {
    display: inline-block;
    width: 50%
}

.mini-cart .products-number {
    color: #f76b6a
}

.products-number {
    font-size: 85%
}

.products-number .nasa-sl {
    position: absolute;
    background: #f76b6a;
    color: #fff;
    text-align: center;
    top: -8px;
    right: -8px;
    line-height: 100%;
    padding: 3px 3px 2px 3px;
    min-width: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.order-steps {
    background: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px
}

.checkout-breadcrumb {
    width: 100%;
    /* float: left; */
    padding: 75px 0;
}

.checkout-breadcrumb a {
    color: #454545
}

.checkout-breadcrumb div {
    width: 33%;
    display: inline-block
}

.title-cart,
.title-checkout,
.title-thankyou {
    cursor: pointer;
    position: relative;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease
}

.title-cart h1,
.title-checkout h1,
.title-thankyou h1 {
    font-size: 500%;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 10px;
    line-height: .8;
    margin-bottom: 0;
    font-weight: 700
}

.title-cart h4,
.title-checkout h4,
.title-thankyou h4 {
    text-transform: uppercase;
    margin-bottom: 0
}

.title-cart p,
.title-checkout p,
.title-thankyou p {
    margin-bottom: 0;
    color: #3c4043
}

.checkout-group h3 {
    font-size: 130%;
    font-weight: 800;
    text-transform: uppercase;
    padding: 8px 0 10px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #eee
}

#order_comments {
    height: 100px
}

.nav-dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.menu-item:hover>.nav-dropdown {
    visibility: visible;
    z-index: 9999;
    opacity: 1;
}

.nav-dropdown>ul {
    position: relative;
    margin: 0
}

.default-menu>.nav-dropdown {
    margin-top: -15px
}

.nav-wrapper ul {
    padding: 0;
    margin: 0
}

.nav-wrapper .menu-item {
    display: inline-block;
    list-style: none;
    position: relative
}

.nav-wrapper .default-menu ul {
    position: absolute
}

.nav-wrapper .default-menu .menu-item {
    width: 200px
}

.nav-wrapper .default-menu .menu-item a:hover {
    padding-left: 3px
}

.nav-wrapper .default-menu>.nav-dropdown {
    text-align: left;
    font-size: 100%;
}

.nav-wrapper .default-menu>.nav-dropdown .sub-menu {
    padding: 20px 0 20px 30px;
}

.nav-wrapper .default-menu>.nav-dropdown ul {
    background: #fff;
    border: 1px solid #ececec
}

.nav-wrapper .root-item {
    width: auto;
    padding-bottom: 15px
}

.nav-wrapper .root-item a:hover {
    color: #f76b6a
}

.sub-menu>li {
    padding: 10px 0 10px 0;
}

.nav-wrapper .root-item>a {
    display: block;
    position: relative;
    margin: 0;
    padding: 15px 40px 15px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease
}

.nasa-follow {
    margin-top: 15px;
    margin-bottom: 0;
    ;
}

.follow-icon a {
    display: inline-block;
    position: relative;
    margin-right: 20px
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 82.75862em
}

.columns {
    position: relative;
    padding-left: .68966em;
    padding-right: .68966em;
    width: 100%;
    float: left
}

@media only screen and (min-width:52.96552em) {
    .large-4 {
        position: relative;
        width: 33.33333%
    }
    .large-6 {
        position: relative;
        width: 50%
    }
    .large-8 {
        position: relative;
        width: 66.66667%;
    }
    .large-12 {
        position: relative;
        width: 100%
    }
}

div,
form,
h1,
h2,
h3,
h4,
li,
p,
td,
th,
ul {
    margin: 0;
    padding: 0;
    direction: ltr
}

a {
    color: #333;
    text-decoration: none;
    line-height: inherit
}

a:focus,
a:hover {
    color: #f32321
}

a img {
    border: none
}

ul {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.37931em;
    list-style-position: inside;
    list-style-type: none;
    font-family: inherit;
    margin-left: 0;
    ;
}

h3 {
    font-size: 1.65517em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
    text-rendering: optimizeLegibility;
    margin-top: .2em;
    margin-bottom: .5em;
    line-height: 1.1931em
}

.button,
button {
    border: 2px solid;
    text-transform: capitalize;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1.10345em;
    padding-right: 2.75862em;
    padding-bottom: 1.17241em;
    padding-left: 2.75862em;
    font-size: .82759em;
    background-color: #fff;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    color: #444;
    border-color: #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

label {
    font-size: 1em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: .2069em
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, .75);
    display: block;
    font-size: 1em;
    margin: 0 0 .96552em 0;
    padding: .48276em;
    height: 2.68966em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input[type=email]:focus,
input[type=tel]:focus,
input[type=text]:focus,
textarea:focus {
    background: #fafafa;
    outline: 0
}

input[type=radio] {
    margin: 0 0 .96552em 0
}

table {
    margin-bottom: 1.37931em;
    /* width: 100%; */
}

table tfoot,
table thead {
    font-weight: 700
}

table tfoot tr td,
table tfoot tr th,
table thead tr th {
    padding: .55172em 0;
    font-size: 1em;
    text-align: left
}

table th {
    font-weight: 700;
    letter-spacing: .1em
}

#top-bar,
.nav-dropdown,
.root-item>a,
body,
h1,
h2,
h3,
h4,
p {
    font-family: Nunito_Sans!important
}

body .logo-wrapper .logo .header_logo {
    max-height: 40px
}

body #masthead .follow-icon a:hover i,
body #masthead .header-icons>li a:hover i,
body #masthead .mini-cart .cart-icon:hover:before {
    color: #ddd
}

.checkout-group {
    border: 8px solid #f5f5f5;
    padding: 10px 20px 20px;
    width: 46%;
    margin: 0px 2% 0px 2%;
}

#header-bar {
    font-size: 14.5px;
    color: #555;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    cursor: default;
    font-family: Nunito_Sans!important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: ltr;
    text-align: center!important;
    margin-top: 30px;
    background-color: #fff
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none
}

form {
    width: 100%
}

body {
    font-size: 14.5px;
    background: #fff;
    color: #555;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
    overflow-x: hidden;
    min-height: 100%;
    background-color: transparent;
}

.table-border-bottom tr {
    border-bottom: 1px solid red;
}

.table-border-bottom>tbody>tr:last-child {
    border-bottom: none;
}

.margin-top {
    margin-top: 40px;
}

.table-spaced-items td,
.table-spaced-items th {
    padding: 10px;
}

.gray-border {
    border: 8px solid #f5f5f5;
}

.side-padding {
    padding: 0 30px;
}

.all-padding {
    padding: 10px;
}

.all-margin {
    margin: 5px;
}

.table-right-content td {
    text-align: right;
}

.center-align {
    width: 95%;
    margin: auto;
}

input[type=number] {
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.fa-clickable {
    cursor: pointer;
    outline: none;
}

.checkbox {
    display: inline-block;
    padding: 15px 18px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.checkbox-element {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0;
    cursor: pointer;
    outline: none;
}